Data Analysis and Causality Example

In [5]:
import os
import pandas as pd
import geopandas as gpd

In [30]:
data_path = os.path.join(os.getcwd(), 'NOMIS', 'NOMIS Data 2011 Census.csv')
map_shapefile_path_2016 = os.path.join(os.getcwd(), 'Map Coordinates', 'LAD_Dec_2016_GCB_in_the_UK_WGS84_2022', 
                                  'LAD_Dec_2016_GCB_in_the_UK_WGS84_.shp')

In [31]:
df = pd.read_csv(data_path)

In [32]:
df.head()

,Local Authority District,LAD16CD,Region,Country,Total,Males,Females,Lives in a household,Lives in a communal establishment,Density (number of persons per hectare),...,Q.number,RSTU.number,Micro 0-4,Small 5-49,Medium 50-249,Large 250+,Small 0-99th,Medium 100-999th,Large 1000-49999th,Very Large 50000th+
0,Adur,E07000223,South East,England,"61,182","29,513","31,669","60,424",758,14.6,...,90.0,160.0,1805.0,475.0,35.0,5.0,815.0,1290.0,210.0,5.0
1,Allerdale,E07000026,North West,England,"96,422","47,371","49,051","94,970","1,452",0.8,...,120.0,265.0,3470.0,930.0,60.0,10.0,1875.0,2300.0,290.0,5.0
2,Amber Valley,E07000032,East Midlands,England,"122,309","60,192","62,117","121,167","1,142",4.6,...,165.0,280.0,3405.0,985.0,75.0,20.0,1700.0,2320.0,450.0,15.0
3,Arun,E07000224,South East,England,"149,518","71,303","78,215","145,744","3,774",6.8,...,240.0,375.0,4205.0,1135.0,60.0,5.0,1905.0,3060.0,435.0,5.0
4,Ashfield,E07000170,East Midlands,England,"119,497","58,665","60,832","118,213","1,284",10.9,...,105.0,200.0,2220.0,705.0,70.0,20.0,1110.0,1560.0,330.0,15.0

In [33]:
gdf2016 = gpd.read_file(map_shapefile_path_2016)

In [34]:
gdf2016.to_csv('LAD_Dec_2016_GCB_in_the_UK_WGS84_.csv')

In [35]:
gdf2016.head()

,lad16cd,lad16nm,lad16nmw,bng_e,bng_n,long,lat,GlobalID,geometry
0,E06000001,Hartlepool,None,447157,531476,-1.27023,54.676159,93b45f2c-8102-4001-947d-86d43f2190d8,"MULTIPOLYGON (((-1.27024 54.72716, -1.26821 54..."
1,E06000002,Middlesbrough,None,451141,516887,-1.21099,54.544670,305c44ba-9ea5-47b9-b5fe-c8c157838b7b,"MULTIPOLYGON (((-1.23001 54.58410, -1.23015 54..."
2,E06000003,Redcar and Cleveland,None,464359,519597,-1.00611,54.567520,5ec566b7-571e-4508-9eee-527b6d9e907b,"MULTIPOLYGON (((-1.13717 54.64693, -1.13873 54..."
3,E06000004,Stockton-on-Tees,None,444937,518183,-1.30669,54.556911,ed87565e-5370-4f59-af28-a54b37888c8a,"MULTIPOLYGON (((-1.31774 54.64524, -1.31713 54..."
4,E06000005,Darlington,None,428029,515649,-1.56835,54.535351,0d06b63e-d4e0-45f0-98a4-500e25e1a72a,"POLYGON ((-1.63799 54.61719, -1.63766 54.61669..."

In [36]:
gdf2016.to_crs(epsg=4326, inplace=True)

In [38]:
# TODO: Function to map the statistics to the UK coordinates.

In [41]:
df.iloc[:, 290:304]

,Food & non-alcoholic drinks,"Alcoholic drink, tobacco & narcotics",Clothing & footwear,"Housing (net), fuel & power",Household goods & services,Health,Transport,Communication,Recreation & culture,Education,Restaurants & hotels,Miscellaneous goods & services,Total expenditure,Retainable Income
0,3002.281229,523.380000,904.288525,3806.357666,1859.606218,325.000000,3696.118614,846.560000,3262.776731,332.873239,1765.855670,2323.726619,26181.60593,0.065143
1,2797.546758,655.590000,1007.606557,3561.223881,1570.669430,299.000000,3060.964313,827.105882,2969.905817,41.014085,1965.407010,1780.519904,22977.91687,0.338060
2,2943.200000,687.570000,990.813115,3811.134328,1710.988601,318.933333,3302.954557,858.122353,2930.365651,67.673239,1991.267629,1899.833094,24423.18394,0.287684
3,3224.461433,650.260000,1141.954098,4396.151967,2231.527461,498.333333,4190.252118,966.680000,4112.177285,103.560563,2327.455670,2317.429257,30085.33782,0.039145
4,2740.400000,553.410000,784.603279,3299.826866,1425.823834,208.000000,2913.455199,751.491765,2325.077008,217.521127,1510.787629,1904.995683,21254.14650,0.251245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,2837.726962,596.960000,995.011475,3788.415197,1471.088083,279.066667,2874.164827,837.444706,2798.565097,48.191549,1762.832165,1748.397122,22232.41519,0.329622
344,3816.941980,734.846667,1727.422951,4767.503935,2889.031088,527.222222,6133.843902,1184.040000,5601.998892,880.264789,2923.793814,3010.139089,39761.14871,0.104942
345,2797.546758,655.590000,1007.606557,3561.223881,1570.669430,299.000000,3060.964313,827.105882,2969.905817,41.014085,1965.407010,1780.519904,22977.91687,0.251461
346,2837.726962,596.960000,995.011475,3788.415197,1471.088083,279.066667,2874.164827,837.444706,2798.565097,48.191549,1762.832165,1748.397122,22232.41519,0.271785
347,2661.938567,623.610000,915.242623,3646.420624,1760.779275,348.833333,3141.627728,847.783529,3198.360111,68.698592,2051.609072,1730.041247,23846.90657,0.257198